/* import for EB Garamond and M PLUS Rounded*/
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* color bin

  #222645 dark blue

  #fac632 yellow
  
*/  

.sr-only {
  border: 0; 
  clip: rect(0,0,0,0);
  height: 1px; 
  margin: -1px; 
  overflow: hidden; 
  padding: 0; 
  position: absolute; 
  white-space: nowrap;
  width: 1px;
}

.skip-link {
  background:black; 
  color: #ffff;
  font-weight: 700; 
  padding: 4px; 
  position: absolute; 
  transform: translateY(-200%);
}

.skip-link:focus {
  transform: translateY(-100%);
}

.skip-link {
  transition: transform -0.3s; 
}

*,
*:before, 
*:after {
  box-sizing: border-box;
  padding: 0; 
  margin: 0;
}

.container {
  max-width: 1100px; 
  margin: 0 auto; 
}

body {
    background: #222645;
    font-family: "Poppins", sans-serif; 
    font-size: 1.5em; 
}

.disclosure-nav {
  background-color: #222645;
  display: flex;
  list-style-type: none;
  padding: 10px 40px 10px 40px;
  margin: 0;
  font-family: "Poppins", sans-serif; 
  color: white; 
  font-size: 1em;
  text-decoration: none;
}

.disclosure-nav ul {
  background-color: #222645;
  border: 1px solid tra;
  border-top-width: 5px;
  border-radius: 0 0 4px 4px;
  display: block;
  list-style-type: none;
  margin: 0;
  min-width: 200px;
  padding: 0;
  position: absolute;
  top: 100%;
}

.disclosure-nav li {
  margin: 0;
}

.disclosure-nav > li {
  display: flex;
  position: relative;
}

.disclosure-nav li a:hover, 
.disclosure-nav li a:focus {
  background-color: white;
  color:#222645;
  margin-bottom: 0;
  text-decoration: none;
}

.disclosure-nav ul a {
  border: 0;
  color: white;
  display: block;
  margin: 0;
  padding: 0.5em 1em;
  text-decoration: underline;
}

.disclosure-nav ul a:hover,
.disclosure-nav ul a:focus {
  background-color: white;
  color:#222645;
  margin-bottom: 0;
  text-decoration: none;
}

.disclosure-nav ul a:focus {
  outline: 5px solid #222645;
  position: relative;
}

.disclosure-nav button,
.disclosure-nav .main-link {
  align-items: center;
  background-color: transparent;
  border: 1px solid transparent;
  border-right-color: #222645;
  display: flex;
  padding: 10px 40px 10px 40px;
  font-family: "Poppins", sans-serif; 
  color: white; 
  font-size: 1em;
}

.disclosure-nav .main-link {
  border-right-color: transparent;
}

.disclosure-nav button::after {
  content: "";
  border-bottom: 1px solid #222645;
  border-right: 1px solid #222645;
  height: 0.5em;
  margin-left: 0.75em;
  width: 0.5em;
  transform: rotate(45deg);
}

.disclosure-nav .main-link + button::after {
  margin-left: 0;
}

.disclosure-nav button:focus,
.disclosure-nav .main-link:focus {
  border-color: #222645;
  outline: 5px solid rgba(238, 238, 255, 0.75);
  position: relative;
}

.disclosure-nav button:hover,
.disclosure-nav button[aria-expanded="true"] {
  background-color: white;
  color: #222645;
}

.disclosure-nav button:hover::after,
.disclosure-nav button[aria-expanded="true"]::after {
  border-color: white;
}


img {
  padding: .3em; 
  margin: 3%;
  display: block;
  float: left;
}

.fullBleedImg {
  float: right; 
  max-width: 95%; 
}


h1, 
h2, 
h3 {
    font-family: 'Eb Garamond', serif;
    font-weight: 700; 
    font-size: .2em 0;
    padding: .5em 0em .5em 0em;
    color: #fac632;
}


p {
  margin: 1.8em 0;
}

h2 {
  font-size: 2.5em;
  padding: 0em 0em 0em 1.1em; 
}

.normalHeader {
  padding: 0; 
  font-size: 2em;
}

header, 
main, 
aside,
footer {
    padding: 1.5em;
}

header, footer {
  text-align: center; 
}

.container{
  max-width: 1200 px; 
  margin: 0 auto; 
  background: #222645;
  display: grid; 
  width: 100 vw; 
  height: 100 vh; 
  grid-template-columns: 
   1fr    2fr     1fr; 
  grid-template-areas: 
  "header1    header1 header1"
  "nav1   nav1    nav1"
  "main1 main1   main1"
  "main1 main1   main1"
  "footer1    footer1 footer1"
}

header {
  grid-area: header1;
  color: #fac632;
  font-size: 1.5em;
}

nav {
  grid-area: nav1;
  color: white; 
}

main {
  grid-area: main1;
  max-height: 100%;
  color: white; 
}

footer {
  grid-area: footer1;
  color: white;
}

a {
  color:white; 
  font-family: "Poppins", sans-serif; 
  color: white; 
  font-size: 1em;
  text-decoration: none;
  padding: 10px 20px 0 20px;
}

.normalLink {
  color: white; 
  font-family: "Poppins", sans-serif; 
  color: #fac632;
  text-decoration: underline; 
  padding: 0; 
}


@media screen 
    and (min-width: 641px)
    and(maxwidth: 640px) {
        .container {
            grid-template-columns: 
             1fr    1fr;
        
            grid-template-areas: 
            "header1 header1"
            "nav1 nav1"
            "main1 main1"
            "footer1 footer1"
        }
    }



@media screen
    and (max-width: 640px) {

        .container {
            max-width: 100%; 
            grid-template-columns: 
            1fr;

            grid-template-areas:
                "header1"
                "nav1"
                "main1"
                "footer1"
        }

        .disclosure-nav {
          max-width: 100%; 
          padding: 0; 
          font-size: .5em;
        }

        h1 {
          float: right; 
        }

        img {
          padding: .3em; 
          margin: 3%;
          display: block;
          float: center;
        }
    }