@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:ital,wght@0,400;0,900;1,900&family=Merriweather:wght@700&family=Open+Sans&display=swap');

.sr-only {
    border: 0; 
    clip: rect(0,0,0,0);
    height: 1px; 
    margin: -1px; 
    overflow: hidden; 
    padding: 0; 
    position: absolute; 
    white-space: nowrap;
    width: 1px;
}

.skip-link {
    background:black; 
    color: #ffff;
    font-weight: 700; 
    padding: 4px; 
    position: absolute; 
    transform: translateY(-200%);
}

.skip-link:focus {
    transform: translateY(-100%);
}

.skip-link {
    transition: transform -0.3s; 
}

*,
*:before, 
*:after {
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}

body{
    
    background:white;
    font-family: 'Lato', sans-serif; 
    font-weight: 400; 
    font-size: regular; 
}

img {
    padding: 2em; 
}

h1, 
h2, 
h3 {
    font-family: 'Abril Fatface', serif;
    font-weight: 400; 
    font-size: .2em 0;
    padding: .5em 0em .5em 0em;
}

p {
    margin: 1.8em 0;
}

h2 {
    font-size: 1.25em;
}

header, 
nav, 
main, 
aside,
footer {
    padding: 1.5em;
    border: 1px dotted rgb(255, 90, 118);
}

header, footer {
    text-align: center; 
}

.container{
    max-width: 1200 px; 
    margin: 0 auto; 
    background: rgb(255, 200, 209);
    display: grid; 
    width: 100 vw; 
    height: 100 vh; 
    grid-template-columns: 
     1fr    2fr     1fr; 
    grid-template-areas: 
    "header1    header1 header1"
    "nav1   nav1    nav1"
    "nav2   nav2    nav2"
    "aside1 main1   aside2"
    "aside1 main1   aside2"
    "aside1 main1   aside2"
    "aside3 aside3  aside4"
    "aside3 aside3  aside4"
    "footer1    footer1 footer1"
}

header {
    grid-area: header1;
    background: rgb(255, 100, 126);
    color: rgb(254, 222, 254);
    font-size: 1.5em;
}

nav {
    grid-area: nav1;
    background: rgb(255, 162, 178); 
}

#nav2 {
    grid-area: nav2;
    background:rgb(255, 162, 178);
}

main {
    grid-area: main1;
    max-height: 100%;
}

#aside1 {
    grid-area: aside1;
}

#aside2 {
    grid-area: aside2; 
}

#aside3 {
    grid-area: aside3;
}

#aside4 {
    grid-area: aside4;
}

footer {
    grid-area: footer1; 
    background: rgb(255, 100, 126);
}

nav ul {
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: space-around;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none; 
    font-size: 1.3em; 
}

nav ul li a:link {
    color: black; 
}

nav ul li a:visited {
    color: black; 
}

nav ul li a:hover {
    color: black; 
    background: white; 
}

nav ul li a:active{
    color: magenta;
}

@media screen 
    and (min-width: 641px)
    and(maxwidth: 640px) {
        .container {
            grid-template-columns: 
             1fr    1fr;
        
            grid-template-areas: 
            "header1 header1"
            "nav1 nav1"
            "nav 2 nav2"
            "main1 main1"
            "aside3 aside3"
            "aside4 aside4"
            "footer1 footer1"
        }
    }

@media screen
    and (max-width: 640px) {
        .container {
            grid-template-columns: 
            1fr;

            grid-template-areas:
                "header1"
                "nav1"
                "nav2"
                "main1"
                "aside3"
                "aside4"
                "footer1"
        }

        nav ul {
            flex-flow: column nowrap; 
            text-align: center; 
        }

        nav ul li a {
            display: block; 
            padding: 10px 5px; 
            margin: 5px; 
            border: 1px dotted rgb(255, 90, 118); 
            background: rgb(255, 200, 209);
        }
    }