body{
    background: white;
}

/* css reset */
*, 
*:before, 
*:after {
    box-sizing: border-box; 
    padding: 0; 
    margin: 0;
}

h1, 
h2, 
h3 {
    padding: .2em 0; 
}

p {
    margin: 1.8em 0; 
    line-height: 1.8em; 
}

header, 
nav, 
main, 
aside, 
footer {
    padding: 1.5em; 
    border: 1px black solid; 
}

header, 
footer {
    text-align: center; 
}

.container {
    max-width: 1200 px; 
    margin: 0 auto; 
    background: rgb(175, 222, 176);
    display: grid; 
    width: 100vw; 
    height: 100vh; 
    grid-template-columns: 
        1fr     2fr     1fr; 
    grid-template-areas: 
    "header1  header1   header1"
    "nav1  nav1   nav1"
    "aside1 main1   aside2"
    "aside1 main1   aside2"
    "foot1  foot1   foot1";
}

header {grid-area: header1; background:red}
nav {grid-area: nav1; background:goldenrod}
main {grid-area: main1; background: orange; max-height: 100%;}
#aside1 {grid-area: aside1; background: fuschia}
#aside2 {grid-area: aside2; background: fuschia}
footer {grid-area: foot1; background: lawngreen;}

nav ul {
    display: flex; 
    flex-flow: row nowrap;
    justify-content: space-around; 
}

nav ul li{
    list-style: none;
}

/* meida query for medium table */
@media screen 
    and (min-width: 641px)
    and (max-width: 900px) {
        .container {
            grid-template-columns: 
            1fr 1fr; 

            grid-template-areas: 

            "header1   header1"
            "nav1   nav1"
            "main1  main1"
            "aside1 aside2"
            "foot1 foot1";
        }
    }


    @media screen 
    and (max-width: 640px) {
        .container{
            grid-template-columns: 
                1fr; 

            grid-template-areas: 
            "header1"
            "header1"
            "nav1"
            "nav1"
            "main1"
            "main1"
            "aside1"
            "aside2"
            "foot1"
        }
        
    }

    nav ul {
        flex-flow: column nowrap; 
        text-align: center; 
    }
    nav ul li a {
        display: block; 
        padding: 10px 5px; 
        margin: 5px; 
        border: 1px black solid; 
        background: white; 
    }